.div-view {
  /* margin-top: -5px; */
  position: absolute;
  width: 100%;
  height: 88.9%;
}

.btn {
  display: flex;
  flex-direction: row;
  margin: 0 50px;
  margin-left: -650px;
  align-items: center;
}
.btn {
  width: 50px;
  height: 30px;
  margin: 10px;
  border: none;

  color: white;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
}

.file-name-onViewer {
  margin-top: 12px;
  font-size: 13px;
  width: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 88, 88);
}

.show-hide-button {
  width: 50px;
  height: 30px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
.main-div-btn {
  margin: 0 -700px;
}

.isolate-element button {
  width: 100px;
  height: 30px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
}
.viewer-Action-color {
  margin: 50px;
  margin-left: -1100px;
  z-index: 1;
}

.model-change-element-color {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  background-color: rgba(0, 31, 63, 0.897);
  height: 120px;
  width: 320px;
  box-shadow: 0 0 10px rgb(77, 76, 76);
  border-radius: 5px;
}

.model-change-element-color button {
  opacity: 1.5;
  height: 30px;
  width: 120px;
  background-color: #adefd1ff;
  margin-left: 50px;
  color: rgba(0, 31, 63, 0.774);
}

.model-change-element-color-flex {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
}

.model-change-element-color-main {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 8px;
  background-color: rgb(252, 252, 252);
  border: 0;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 15px;
}
#id-btn-green-showModelColor {
  background-color: green;
}
#id-btn-red-showModelColor {
  background-color: rgb(236, 46, 46);
}

.chart-pie-model {
  /* height: 400px;
  width: 400px; */
  position: absolute;
  border-radius: 8px;
  margin-left: -55px;
}
.chart-pie-model-input {
  position: absolute;

  margin-left: -70px;
}

.chart-pie-model-char {
  position: absolute;

  /* margin-left: -10px; */
}

.model-change-element-color-btn {
  position: absolute;
  display: flex;
  margin-left: -40px;
  margin-top: 10px;
}

.chart-pie-model-select {
  height: 30px;
  margin-top: 7px;
  margin-left: 20px;
  position: absolute;
  border-radius: 5px;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.chart-pie-model-typesorting {
  position: absolute;
  margin-left: -60px;
  margin-top: 30px;
}

.model-spin {
  margin-top: -130px;
  margin-left: 30px;
}
.model-spin-chart {
  margin-top: -70px;
  margin-left: 40px;
}

.viewer-iot-chart {
  flex-direction: column;
}
.viewer-iot-chart-btn-show {
  background-color: rgb(72, 163, 122);
}
.viewer-iot-chart-btn-rmv {
  background-color: rgb(194, 99, 103);
}

.chart-pie-checkbox {
  margin-left: -100px;
  margin-top: -5px;
  position: absolute;
}
label {
  color: rgb(109, 106, 106);
  font-size: medium;
  font-family: Consolas, Baskerville, "Segoe UI", sans-serif;
}

input[type="checkbox"]:hover {
  box-shadow: 0px 0px 10px #e27b7b;
}

.upload-xml {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  /* box-shadow: 5px 5px 10px black; */
  width: 190px;
  outline: none;
}

::-webkit-file-upload-button {
  color: white;
  background-color: #206a5b;
  padding: 5px;
  border: none;
  /* box-shadow: 1px 0 1px #6b4559; */
  outline: none;
}
::-webkit-file-upload-button:hover {
  background-color: #178f77;
}
