.dview {
  position: absolute;
  margin-left: -110px;
  box-shadow: "2px 2px 4px #000000";
  margin-left: -5x0px;
}

.btn {
  display: flex;
  flex-direction: row;
  margin-left: -600px;
  margin-top: 20px;
}
button {
  width: 70px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: rgb(79, 196, 75);
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#btnHide {
  background-color: crimson;
}
