.home-main-div {
  width: 600px;
  position: absolute;
  display: flex;
  margin-left: 450px;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.home-main-div-link {
  height: 40px;
  width: 150px;
  margin-top: 60px;

  background-color: rgb(49, 144, 223);
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-main-div-link p {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}
.home-main-div h1 {
  color: rgb(90, 89, 89);
  width: auto;
  text-transform: capitalize;

  border-radius: 10px;
}
.home-main-div .moe250 {
  color: rgb(39, 167, 23);
}
.home-main-div h3 {
  color: rgb(204, 89, 35);
}
