.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer {
  margin-top: -60px;
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  background-color: rgb(224, 220, 220);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer .body {
  margin-top: -20px;
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgb(79, 196, 75);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
