.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer {
  margin: -150px -350px;
  position: absolute;
  width: 400px;
  height: 250px;
  border-radius: 12px;
  background-color: rgba(220, 221, 224, 0.986);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  z-index: 1;
}
.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.item-button-close {
  width: 60px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color: crimson;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
.item-button-agree {
  width: 60px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color: rgb(79, 196, 75);
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
