.searchInputs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.search input {
  background-color: rgb(160, 160, 160);
  border: 0;
  border-radius: 6px;

  font-size: 18px;
  padding: 20px;
  height: 50px;
  width: 300px;
}

.searchIcon {
  padding: 20px;
  height: 60px;
  width: 100px;
  color: aqua;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 50px;
  margin-left: -300px;
  width: 345px;
  height: 300px;
  font-size: 20px;

  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}
/* 
.dataItem {
  width: 2000px;
  height: 40px;
  display: flex;

  align-items: center;
} */

.dataItem p {
  margin-left: 10px;
}

a:hover {
  background-color: rgba(39, 98, 102, 0.507);
}

#clearBtn {
  cursor: pointer;
}
